header {
    padding: 10px;
    text-align: center;
}
header h1 {
    font-family: var(--secondary-font-family);
}

nav {
    padding: 10px;
    text-align: center;
}

footer {
    padding: 10px;
    text-align: center;
}

.tab {
    color: var(--secondary-color);
    background-color: var(--secondary-bg-color);
    cursor: pointer;
}

nav a.tab {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
}


.tab:hover {
    filter: brightness(0.85);
}