.App .header {
    padding: 10px;
    text-align: center;
}

.tab {
    color: var(--secondary-color);
    background-color: var(--secondary-bg-color);
    cursor: pointer;
}

nav a.tab {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
}


.tab:hover {
    background-color: var(--secondary-bg-color-hover);
}