@import "~normalize.css/normalize.css";

:root {
    --primary-color: white;
    --primary-bg-color: rgb(90,198,198);
    --primary-font-family: 'Quicksand', sans-serif;

    --secondary-color: white;
    --secondary-bg-color: rgb(100, 220, 220);
    --secondary-font-family: 'Roboto', sans-serif;
}

* {
    color: var(--primary-color);
    background-color: var(--primary-bg-color);
    font-family: var(--primary-font-family);
}

header {
    padding: 10px;
    text-align: center;
}
header h1 {
    font-family: var(--secondary-font-family);
}

nav {
    padding: 10px;
    text-align: center;
}

footer {
    padding: 10px;
    text-align: center;
}

.tab {
    color: var(--secondary-color);
    background-color: var(--secondary-bg-color);
    cursor: pointer;
}

nav a.tab {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
}

.tab:hover {
    filter: brightness(0.85);
}

.pl1 {
    padding-left: 1rem;
}
.pt1 {
    padding-top: 1rem;
} 
.pb1 {
    padding-bottom: 1rem;
}

input[type=text],
input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    cursor: pointer;
}

button:hover {
    filter: brightness(0.85);
}

.grid-wrapper {
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(auto, 70ch) minmax(1rem, 1fr);
    grid-gap: 1rem;
}

.progress-bar {
    cursor: pointer;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    position: relative;
}
.progress-bar:hover {
    filter: brightness(0.85);
}

.inner-bar {
    background-color: var(--secondary-bg-color);
    border-radius: 10px;
    height: 40px;
}

.inner-bar-text-left {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    left: 30px;
    top: 10px;
}

.inner-bar-text-right {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    right: 30px;
    top: 10px;
}

ul {
    list-style-type:none;
}