@import "~normalize.css/normalize.css";

.wrapper {
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(auto, 70ch) minmax(1rem, 1fr);
    grid-gap: 1rem;
}

.margin1 {}

.content {}

.margin2 {}

.bg-light-gray {
    background-color: #f1f1f1 !important;
}

.bg-blue {
    background-color: #0074d9 !important;
}

.white {
    color: #fff !important;
}